.popup {
  display: none;
  position: fixed;
  place-items: center;
  z-index: 9;
  animation: fadeInAnimation 1s;
  animation-fill-mode: both;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#locationForm{
  bottom: 15vh;
  right: 25vw;
}

#signupForm{
  bottom: 23vh;
  right: 40vw;
}

#signupForm h1{
  margin-top: 0;
}

#loginForm{
  bottom: 33vh;
  right: 40vw;
}

#loginForm h1{
  margin-top: 0;
}

#loginForm i, #signupForm i{
  left: 30px;
  color: grey;
}

.container {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  background-color: #181818;
  color: white;
}

.container input[type=text], .container input[type=password], .container input[type=email]{
  width:fit-content;
  padding: 15px;
  margin: 5px 0 10px 0;
  border: none;
  background: #f1f1f1;
}

.container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

.signin-wrapper{
  margin-bottom: 1vh;
}

.btn {
  color: white;
  background-color: teal;
  padding: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 0;
  opacity: 0.8;
}

.exit {
  background-color: #181818;
}

.exit:hover{
  background-color: rgba(0, 100, 100, 0.2);
}

.checkbox{
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

.b1 {
  padding: 10px 20px;
  color: purple;
}

.open-button {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  text-decoration: none;
}

#parktype{
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  width: 60%;
  padding: 10px;  
  margin-top: 1vh;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
      transform: translateY(100%);
  }
  100% {
      opacity: 1;
   }
}