body{
    margin: 0;
    padding: 0;
}
.topNavbar{
    background-color: #011328;
    min-height: 10vh;
}.logo{
    height: 50px;
    width: 50px;
    padding: 8.3px;
    position: relative;
    top: 5px;
}.loginLink, .location{
    text-decoration: none;
    padding: 10px;
    color: white;
    margin-top: 2.2vh;
    margin-bottom: 2.2vh;
    float: right;
}.navbarLeft{
    float: left;
}.loginLink:hover, .location:hover{
    color: grey;
}

.mainBody{
    display: flex;
}
.infoPanel{
    background-color: grey;
    color: white;
    height: 200px;
    min-width: 25vw;
    margin: 0px;
    /* padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw; */
    min-height: 90vh;
    text-align: center;
    overflow-y: scroll;
}#locationTitle{
    background-color: #424242;
    margin: 0;
}.navbarDispaly{
    object-fit: contain;
}.locationNavbar{
    padding-bottom: 1vh;
    padding-top: 1vh;
}.sideNavButtons{
    color: white;
    font-size: large;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    background: none;
}.sideNavButtons:hover{
    background-color: #424242;
    border-radius: 5px;
}.spotPhoto{
    width: 100%;
}.directionButton{
    background-color: grey;
    color: white;
    border: 2px solid #424242;
    padding: 5px;
    margin-top: 30vh;
}.directionButton:hover{
    background-color: #424242;
    cursor: pointer;
}

#map{
    min-width: 75vw;
}

.header {
    padding: 100px;
    text-align: center;
    background: blue;
    color: white;
    font-size: 20px;
    border-radius: 100px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: #021327;
    height: 510px;
    }

.next {
    margin-top: 10px;
    text-align: center;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
   }

   
    .button{
        background-color: rgb(255, 255, 255);
        border-radius:0%;
        border: none;
        padding: 5px 10px;
        display: inline-block;
        text-decoration: none;
        /*margin-left: 5px;*/
      }
     

      .button:hover{
        background-color: rgb(81, 255, 0);
      }

      .mytext{
          width: 400px;
          height: 50px;
          font-size: 16px;
        }

        .Street, .Park{
            width:50px;
            height:50px;
        }

        .Street:hover, .Park:hover{
            background-color: rgb(179, 180, 177);
        }

        input[type=submit]{
            margin-top: 50px;
            width: 100px;
            height: 50px;
        }