*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
 }
  
 .intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
 }
  
 .logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
 }
  
 .logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
 }
  
 .logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
 }
  
 .logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
 }
 
 
 /* test */
  
 *{
    margin:0;
    padding:0;
  }
   body{
    margin:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:17px;
   color: #ffffff;
    line-height:1.6;
  }
   #showcase{
    background-image:url('https://i.pinimg.com/originals/67/ab/bc/67abbc7ba6f6cde8cb15f4876857844e.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
  }
   #showcase h1{
    font-size:50px;
    line-height:1.2;
  }

  .welcomediv{
      background-color: rgba(75, 75, 75, 0.25);
      border-radius: 25px;
  }

   #showcase p{
    font-size:20px;
    opacity: 100%;
    border-radius: 10px;
  }
   #showcase .button{
    font-size:18px;
    text-decoration:none;
    color:#926239;
    border:#926239 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }
   #showcase .button:hover{
    background:#926239;
    color:#fff;
  }
 